SECRET_KEY="<your SECRET_KEY>"
DEBUG=False
POSTGRES_PASSWORD=<your db user password>
POSTGRES_USER=<your db username>
POSTGRES_DB=<your db name>
POSTGRES_HOST=<your db hostname>
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data